{{extend 'layout.html'}}

<h1>How to install Phylografter</h1>

<ol style="max-width:45em">
  <li>
  Install <a href="http://www.python.org">python</a>, version 2.5 or higher
  </li>
  <li>
  Install <a href="http://www.web2py.com">web2py</a>
  </li>
  <li>
  Start web2py, log in and navigate to the administration page
  </li>
  <li>
  Upload the <a
  href="http://www.phylodiversity.net/rree/pgdemo.20090208.tar">phylografter
  appliance</a>, giving it a name of your choice.  The demo appliance
  ships with about 1,825 trees (mostly angiosperms) from <a
  href="http://www.treebase.org">TreeBASE</a> as of early 2008.
  </li>
</ol>
