<h2>Frequently asked questions</h2>

<ol>
  <li>
  <i>I click on a tree and nothing happens. What gives?</i>
  <div style="padding-left:1em">
  For large trees, there may be a lag time for the requested action to be
  processed and the tree to be redrawn on the page.  Please be patient.
  </div>
  </li>

  <li>
  <i>How do I install phylografter on my own computer or server?</i>
  <div style="padding-left:1em">
  See the {{=A("instructions", _href=URL(r=request, c="default", f="install_instructions"))}}.
  </div>
  </li>
</ol>
