{{extend 'layout.html'}}

{{=plugin_treeGrafter(
    dict( treeId = request.args(0),
          menuInfo = dict( options = [ dict( name = 'branchLength' ), dict( name = 'search' ), dict( name = 'treeSize' ) ] ),
          eventInfo = dict( nodeRightClick = dict( handler = 'showNodeContextMenu',
                                                   options = [ dict( handler = 'handleCollapseCladeOptionClick', text = 'Collapse Clade' ),
                                                               dict( handler = 'handleReplaceCladeOptionClick', text = 'Replace Clade' ),
                                                               dict( handler = 'handlePruneCladeOptionClick', text = 'Prune Clade' ) ] ) ),
          viewInfo = dict( type = 'phylogram', mode = 'navigate' ) ) ) }}
