{{extend 'layout.html'}}
<style>
.autocomplete { width: 40em !important; }
input.string { width: 25em !important; }
</style>

<div style="padding-bottom:0.5em;">OTUs from {{=A(_study_rep(study), _href=URL('study','view',args=study.id))}}</div>

{{=table}}

<script type="text/javascript" charset="utf-8">
    var asInitVals = new Array();

    var oSettings = null;

    $(document).ready(function() {
	var oTable = $('#{{=tid}}').dataTable( {
	    "bProcessing": true,
	    "bServerSide": true,
	    "bStateSave": true,
	    "bFilter": true,
	    "sDom": '<"H"lrp>t<"F"ip>',
	    "bJQueryUI": true,
	    "sAjaxSource": "{{=URL(request.controller, 'dtrecords.json', args=[study.id])}}",
	    "aoColumnDefs": []
	} );

	oSettings = oTable.fnSettings();

	$("tfoot input").keyup( function () {
            /* Filter on the column (the index) of this element */
            oTable.fnFilter( this.value, $("tfoot input").index(this) );
	} );

	/*
	 * Support functions to provide a little bit of 'user friendlyness'
	 * to the textboxes in the footer
	 */
	$("tfoot input").each( function (i) {
	    asInitVals[i] = this.value;
	    this.value = oSettings.aoPreSearchCols[i].sSearch;
	} );
				
	$("tfoot input").focus( function () {
	    if ( this.className == "search_init" )
	    {
		this.className = "";
		this.value = oSettings.aoPreSearchCols[i].sSearch;
	    }
	} );
				
	$("tfoot input").blur( function (i) {
	    if ( this.value == "" )
	    {
		this.className = "search_init";
		this.value = asInitVals[$("tfoot input").index(this)];
	    }
	} );
    } );
</script>
