{{ globals()['right_sidebar_enabled']=True }}
{{extend 'layout.html'}}

<div style="padding:0.5em;font-weight:bold;font-family:sans-serif;color:dimgray;font-size:110%">
Study {{=rec.id}}: {{=label}}
</div>
<div id="study_form" style="padding-bottom:0.5em">{{=form}}</div>

<div style="padding:0.25em; background-color:lightgray">
Data files:
</div>
<div id="study_files" style="padding-bottom:0.5em">
{{for f in rec.study_file.select():}}
<div style="padding:0.5em">{{=f.description or 'No description'}}.
{{if f.comment:}}{{=f.comment}}{{pass}}
{{=A('[Edit record]', _style='padding:0.5em', _href=URL('editfile',args=[f.id],))}}
{{=A('[Download]', _href=URL('download',args=[f.file]))}}
</div>
{{pass}}
{{#=files}}
{{u=URL(c='study',f='addfile',args=[request.args(0)])}}
<a class="button" href={{=u}}>Add file</a>
</div>

<div style="padding:0.25em; background-color:lightgray">
Trees derived from this data set:
</div>
<div id="study_trees" style="padding-bottom:0.5em;padding-top:0.5em">
<table>
{{for t in trees:}}
<tr>
<td>{{=t.type}}</td>
<!-- <td><a href="{{=URL(c='stree',f='v',args=[t.id])}}">view/annotate</a></td> -->
<td><a href="{{=URL(c='stree',f='edit',args=[t.id])}}">[Edit record]</a></td>
<td><a href="{{=URL(c='stree',f='svgView',args=[t.id])}}">[View]</a></td>
{{if str(t.id) in graphlist_ncbi:}}
<td><a href="{{=URL(c='graph',f='view',args=[t.id])}}">[View NCBI Graph]</a></td>
{{pass}}
{{if str(t.id) in graphlist_ott:}}
<td><a href="{{=URL(c='graph',f='view',args=[t.id])}}">[View OpenTree Graph]</a></td>
{{pass}}
{{if auth.is_logged_in() and auth.has_membership(role="contributor"):}} 
	<td><a href="{{=URL(c='stree',f='delete',args=[t.id])}}">[Delete Tree]</a></td>
{{pass}}
<!-- <td><a href="{{=URL(c='stree',f='modalTreeObj',args=[t.id])}}">load pyTree</a></td> -->
    <!-- {{if auth.is_logged_in():}} -->
    <!--     <td><a href="{{=URL(c='gtree',f='backbone',args=[t.id])}}">[Use as grafted tree backbone]</a></td> -->
    <!-- {{pass}} -->
    <!-- {{if auth.is_logged_in() and ' '.join( [ auth.user.first_name, auth.user.last_name ] ) == t.contributor:}} -->
    <!--     <td><a href="{{=URL(c='stree',f='editOTUs',args=[t.id])}}">update OTUs</a></td> -->
    <!-- {{pass}} -->
</tr>
{{pass}}
<tr>
<td>
{{u=URL(c='stree',f='create',args=[request.args(0)])}}
<a class="button" href={{=u}}>Upload new tree</a>
</td>
</td>
</table>
</div>

{{block right_sidebar}}
<h5>OTUs: {{=rec.otu.count()}}</h5>
<h5>OTUs mapped to taxa: {{=rec.otu(db.otu.ottol_name!=None).count()}}</h5>
{{=A('Map OTUs to Taxa', _class='button', _href=URL('otu','study',args=rec.id), _style="margin-top:0.5em")}}
{{pass}}

{{=LOAD('study', 'tag.load', args=[rec.id], ajax=True)}}

{{if auth.is_logged_in() and auth.has_membership(role="contributor"):}} 
	<td><a href="{{=URL(c='study',f='delete_study',args=[rec.id])}}">Delete Study</a></td>
{{pass}}



{{end}}