{{ globals()['right_sidebar_enabled']=True }}
{{response.files.append(URL('static','css/graph_view.css'))}}
{{extend 'layout.html'}}

    <head>
        <script type="text/javascript" src="{{=URL(request.application,'static','raphael.js')}}"></script>
        <script type="text/javascript" src="{{=URL(request.application,'static','jquery.js')}}"></script>
        <script type="text/javascript" src="{{=URL(request.application,'static','jquery-ui-1.8.5.custom.min.js')}}"></script>
        <script type="text/javascript" src="{{=URL(request.application,'static','jquery.corners.js')}}"></script>
        <script type="text/javascript" src="{{=URL(request.application,'static','utility.js')}}"></script>
        <script type="text/javascript" src="{{=URL(request.application,'static','globals.js')}}"></script>
        <script type="text/javascript" src="{{=URL(request.application,'static','widgetUtil.js')}}"></script>
        <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>      

    </head>

            <div id="boxContainer">
            <script type="text/javascript">

            var datastring; // global variable for d3 = {{=XML(response.json(json))}};
            //var tree = {{=XML(rec.id)}}
            //var path = "../../static/taxonomy-stree-json/ncbi/"+ tree + ".JSON";
            
            d3.json("tree_1.JSON", function(json) {
            datastring = json;
            //document.write(datastring);
        
           
            
            var data = eval('(' + datastring + ')');
            document.write(data);
            var w = 1000,
                h = 700,
                cx = w/2,
                cy = h/2,
                fill = d3.scale.category10();
            data.nodes.forEach( function(n) {
                //n.x += cx; n.y += h*0.66;
                n.ox = n.x; n.oy = n.y;
                //n.fixed = true;
                //if (n.isleaf) { n.fixed = true; }
            });
            // find node using jQuery, append with d3
            var svgParentNode = $("div.span9:eq(0)")[0];  
            var svg = d3.select( svgParentNode ).append("svg:svg")
                .attr("id", "figure")
                .attr("width", '100%')
                .attr("height", h);

            var group = d3.select("#figure").append("svg:g");

            var dragging = false;
            var scale = 1.0;

            var node_drag = d3.behavior.drag()
                .on("dragstart", function(d,i) {
                dragging = true;
                //layout.stop();
                //d.fixed = false;
                ;
                })
                .on("drag", function(d,i) {
                d.x += d3.event.dx; d.y += d3.event.dy;
                d.ox = d.x/scale; d.oy = d.y/scale;
                tick();
                })
                .on("dragend", function(d,i) {
                //d.fixed = true;
                dragging = false;
                //layout.resume();
                });

            var svg_drag = d3.behavior.drag()
                .on("dragstart", function() {
                dragging = true;
                })
                .on("drag", function() {
                data.nodes.forEach( function(d) {
                    d.x += d3.event.dx; d.y += d3.event.dy;
                    d.ox = d.x/scale; d.oy = d.y/scale;
                });
                tick();
                })
                .on("dragend", function() {
                dragging = false;
                });

            var layout = d3.layout.force()
                .gravity(0.0)
                .linkDistance(1)
                //.charge( function (n, i) { n.isleaf? -30:-10; })
                .charge(-0)
                .friction(0.7)
                .size([w, h])
                .nodes(data.nodes)
                .links(data.links)
                .start();

            var leaves = data.nodes.filter(function(n,i) {return n.isleaf;});

            var link = group.selectAll("line.link")
                .data(data.links)
                .enter().append("svg:line")
                .attr("class", "link")
                .attr("x1", function(d) { return d.source.x; })
                .attr("y1", function(d) { return d.source.y; })
                .attr("x2", function(d) { return d.target.x; })
                .attr("y2", function(d) { return d.target.y; })
                .attr("stroke-width", function(d) {
                return d.width;
                })
                .attr("stroke", function(d) {
                //return d.stree>0? fill(d.stree):'gray';
                return d.color;
                });

            var node = group.selectAll("g.node")
                .data(data.nodes)
                .enter().append("svg:g")
                .attr("class", "node")
                .call(node_drag);

            node.append("svg:circle")
                .attr("class", "circle")
                .attr("cx", 0)
                .attr("cy", 0)
                .attr("r", function(d) {
                    //return d.isleaf||d==data.nodes[0]? 4:2;
                    return d.size/2;
                })
                .style("pointer-events","all")
                .style("fill", function(d) {
                return d.color;
                })
                .style("stroke", 'white')
                .style("stroke-opacity", "0.8")
                .style("stroke-width", function(d) {
                return d.isleaf? "1px":0;
                })
                .append("title")
                .text( function(d) { return d.altlabel; });

            node.append("svg:text")
                .attr("dx", function(d) {return d.size/2+2;})
                .attr("dy", ".35em")
                .style("stroke", "#fff")
                .style("stroke-width", "4px")
                .style("stroke-opacity", "0.8")
                .text(function(d) { return d.label });

            node.append("svg:text")
                .attr("dx", function(d) {return d.size/2+2;})
                .attr("dy", ".35em")
                .text(function(d) { return d.label });

            function tick() {
                link.attr("x1", function(d) { return d.source.x; })
                .attr("y1", function(d) { return d.source.y; })
                .attr("x2", function(d) { return d.target.x; })
                .attr("y2", function(d) { return d.target.y; });

                node.attr("transform", function(d) {
                    return "translate(" + d.x + "," + d.y + ")";
                });

                layout.stop();
            }

            layout.on("tick", tick);

            svg.call(d3.behavior.zoom().on("zoom", function() {
                if (!dragging) {
                console.log(d3.event.scale);
                var p = d3.mouse(this), px = p[0], py = p[1];
                scale = d3.event.scale;
                data.nodes.forEach( function(n) {
                    var dx = n.ox * scale - n.x;
                    var dy = n.oy * scale - n.y;
                    n.x += dx; n.y += dy;
                });
                node.attr("transform", function(d) {
                    return "translate("+d.x+","+d.y+")";
                });
                link.attr("x1", function(d) { return d.source.x; })
                    .attr("y1", function(d) { return d.source.y; })
                    .attr("x2", function(d) { return d.target.x; })
                    .attr("y2", function(d) { return d.target.y; });

                group.attr("transform", "translate(" + d3.event.translate + ")");
                }
            }));

            svg.call(svg_drag);

            svg.style("opacity", 1e-6)
                .transition()
                .duration(2000)
                .style("opacity", 1);


            layout.nodes(data.nodes).links(data.links).start();

             });            
            </script>
            </div>

        <script type="text/javascript" charset="utf-8">
            globals.applicationName = '{{=request.application}}';
        </script>
{{block right_sidebar}}
<strong>Controls</strong>
<ul>
<li>Middle Mouse Wheel to Zoom and and Out
<li>Left Click and Drag in the white space to drag the entire graph
<li>Left Click on a node to drag that node around
</ul>

<strong>Interpretation</strong>
<ul>
<li><font color="green"><strong>Green</font></strong> lines trace taxonomy exactly. 
<li><font color="blue"><strong>Blue</font></strong> lines are relationships in the tree, but not taxonomy, that don’t contradict the taxonomy. 
<li><font color="red"><strong>Red</font></strong> lines are contradictions between the tree and taxonomy.
</ul>


              
